.rail {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  max-width: 1200px;
  min-width: 750px;
}

.card-body {
  padding: 0 !important;
}

table {
  padding: 10px !important;
}

.active {
  background: whitesmoke;
}