@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-weight: 700 !important;
}

body {
  background-color: #fbfbfb !important;
}

.card-body {
  padding: 0 !important;
}

table {
  padding: 10px !important;
}

.active {
  background: whitesmoke;
}
